<div class="container">
    <h2>Time Slot: <%= @time_slot.start_time.strftime('%A, %B %d') %> at <%= @time_slot.start_time.strftime('%I:%M %p') %> </h2>

  <div class="row" id="new-time-slot">
    <div class="col-sm-6">
      <h4>Claim this time slot:</h4>
      <%= render 'form' %>
    </div>

    <div class="col-sm-6">
      <h4><%= link_to 'Find a different time slot', time_slots_path %></h4>
    </div>

  </div>
</div>
