<div class="container">
  <h2>Lents Volunteer Services</h2>

  <p>Need your lawn mowed? You've come to the right place.</p>

  <p>Head over to the <strong><%= link_to 'calendar', '/calendars' %></strong> to reserve an upcoming appointment to have your lawn mowed for free! No strings attached.</p>

  <p>Want to volunteer to mow a neighbor's lawn? Add a new <strong><%= link_to 'time slot', new_time_slot_path %></strong> to the calendar!</p>

</div>
